body {
   height: 100%;
   overflow-y: hidden;
}

.u-section-1 {
  background-image: none;
  min-height: 100vh;
}

.u-section-1 .u-list-1 {
  width: 1798px;
  margin: 60px auto;
}

.u-section-1 .u-repeater-1 {
  min-height: 874px;
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
  grid-gap: 0px 0px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-1 .u-image-1 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 1px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-1 .u-image-2 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-2 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 1px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 10px;
}

.u-section-1 .u-image-3 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-3 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 1px auto 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 10px;
}

.u-section-1 .u-image-4 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-4 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 1px auto 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 10px;
}

.u-section-1 .u-image-5 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-5 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 1px auto 0;
}

.u-section-1 .u-container-layout-6 {
  padding: 0 10px;
}

.u-section-1 .u-image-6 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-6 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 1px auto 0;
}

.u-section-1 .u-container-layout-7 {
  padding: 0 10px;
}

.u-section-1 .u-image-7 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-7 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 1px auto 0;
}

.u-section-1 .u-container-layout-8 {
  padding: 0 10px;
}

.u-section-1 .u-image-8 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-8 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 1px auto 0;
}

.u-section-1 .u-container-layout-9 {
  padding: 0 10px;
}

.u-section-1 .u-image-9 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-9 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 1px auto 0;
}

.u-section-1 .u-container-layout-10 {
  padding: 0 10px;
}

.u-section-1 .u-image-10 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-10 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 1px auto 0;
}

.u-section-1 .u-container-layout-11 {
  padding: 0 10px;
}

.u-section-1 .u-image-11 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-11 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 1px auto 0;
}

.u-section-1 .u-container-layout-12 {
  padding: 0 10px;
}

.u-section-1 .u-image-12 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-12 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 1px auto 0;
}

.u-section-1 .u-container-layout-13 {
  padding: 0 10px;
}

.u-section-1 .u-image-13 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-13 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 1px auto 0;
}

.u-section-1 .u-container-layout-14 {
  padding: 0 10px;
}

.u-section-1 .u-image-14 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-14 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 1px auto 0;
}

.u-section-1 .u-container-layout-15 {
  padding: 0 10px;
}

.u-section-1 .u-image-15 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-15 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 1px auto 0;
}

.u-section-1 .u-container-layout-16 {
  padding: 0 10px;
}

.u-section-1 .u-image-16 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-16 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 1px auto 0;
}

.u-section-1 .u-container-layout-17 {
  padding: 0 10px;
}

.u-section-1 .u-image-17 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-17 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 1px auto 0;
}

.u-section-1 .u-container-layout-18 {
  padding: 0 10px;
}

.u-section-1 .u-image-18 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-18 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 1px auto 0;
}

.u-section-1 .u-container-layout-19 {
  padding: 0 10px;
}

.u-section-1 .u-image-19 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-19 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 1px auto 0;
}

.u-section-1 .u-container-layout-20 {
  padding: 0 10px;
}

.u-section-1 .u-image-20 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-20 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 1px auto 0;
}

.u-section-1 .u-container-layout-21 {
  padding: 0 10px;
}

.u-section-1 .u-image-21 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-21 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 1px auto 0;
}

.u-section-1 .u-container-layout-22 {
  padding: 0 10px;
}

.u-section-1 .u-image-22 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-22 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 1px auto 0;
}

.u-section-1 .u-container-layout-23 {
  padding: 0 10px;
}

.u-section-1 .u-image-23 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-23 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 1px auto 0;
}

.u-section-1 .u-container-layout-24 {
  padding: 0 10px;
}

.u-section-1 .u-image-24 {
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-btn-24 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 1px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    width: 940px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 457px;
    grid-template-columns: 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857%;
  }

  .u-section-1 .u-image-1 {
    height: NaNpx;
  }

  .u-section-1 .u-image-2 {
    height: NaNpx;
  }

  .u-section-1 .u-image-3 {
    height: NaNpx;
  }

  .u-section-1 .u-image-4 {
    height: NaNpx;
  }

  .u-section-1 .u-image-5 {
    height: NaNpx;
  }

  .u-section-1 .u-image-6 {
    height: NaNpx;
  }

  .u-section-1 .u-image-7 {
    height: NaNpx;
  }

  .u-section-1 .u-image-8 {
    height: NaNpx;
  }

  .u-section-1 .u-image-9 {
    height: NaNpx;
  }

  .u-section-1 .u-image-10 {
    height: NaNpx;
  }

  .u-section-1 .u-image-11 {
    height: NaNpx;
  }

  .u-section-1 .u-image-12 {
    height: NaNpx;
  }

  .u-section-1 .u-image-13 {
    height: NaNpx;
  }

  .u-section-1 .u-image-14 {
    height: NaNpx;
  }

  .u-section-1 .u-image-15 {
    height: NaNpx;
  }

  .u-section-1 .u-image-16 {
    height: NaNpx;
  }

  .u-section-1 .u-image-17 {
    height: NaNpx;
  }

  .u-section-1 .u-image-18 {
    height: NaNpx;
  }

  .u-section-1 .u-image-19 {
    height: NaNpx;
  }

  .u-section-1 .u-image-20 {
    height: NaNpx;
  }

  .u-section-1 .u-image-21 {
    height: NaNpx;
  }

  .u-section-1 .u-image-22 {
    height: NaNpx;
  }

  .u-section-1 .u-image-23 {
    height: NaNpx;
  }

  .u-section-1 .u-image-24 {
    height: NaNpx;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-list-1 {
    width: 720px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1400px;
    grid-template-columns: 25% 25% 25% 25%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-list-1 {
    width: 540px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 4200px;
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    width: 340px;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 10578px;
    grid-template-columns: 100%;
  }
}
